<!-- 
<app-navbar></app-navbar>
<div class="landing-page">
  
    <div class="hero-section">
      <div class="hero-content">
        <h1>We Help You to Transform Your Store</h1>
        <p>We help e-commerce stores expand online by providing innovative tech solutions.</p>
        <div class="button-group">
          <button class="login-button" (click)="navigateToLogin()">Login</button>
          <button class="register-button" (click)="navigateToRegister()">Register</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbtpVAoJqY8t0ww9Ns_34EzJt3j-2etuVKcw&s" alt="E-commerce Transformation"/>
      </div>
    </div>
  </div>
   -->

   <app-navbar></app-navbar>
<div class="landing-page">
    <div class="hero-section">
        <div class="hero-content">
            <h1>We Help You to Transform Your Store</h1>
            <p>We help e-commerce stores expand online by providing innovative tech solutions.</p>
            <div class="button-group">
                <button class="login-button" (click)="navigateToLogin()">Login</button>
                <button class="register-button" (click)="navigateToRegister()">Register</button>
            </div>
            <a class="admin-link" (click)="navigateToAdminRegister()">as Admin</a>
        </div>
        <div class="hero-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbtpVAoJqY8t0ww9Ns_34EzJt3j-2etuVKcw&s" alt="E-commerce Transformation" />
        </div>
    </div>
</div>
