* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d3d3d;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}